body {
  margin: 0px;
  padding: 0px;
  font-family: Raleway, sans-serif;
  font-weight: 600;
  background-color:rgb(15, 76, 80);
  background-image: url("");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.sendlink, .endpage, .loading {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

h1 {
  font-size: 71px;
  font-weight: 900;
  letter-spacing: 2.09px;
  margin: 0px;
  color:rgb(232, 152, 72);
  font-family: Raleway, sans-serif;
  line-height: normal;
}
.App-header {
  display: flex;
  -moz-box-flex: 1;
  flex-grow: 1;
}
h2 {
  color: rgb(255, 255, 255);
  font-size: 24px;
  font-weight: 900;
  line-height: 1.125;
  margin: 0px;
}
.linkform {
  background-color: rgb(255, 255, 255);
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 2px 4px 0px;
  box-sizing: border-box;
  margin: 42px auto 0px;
  padding: 21px 17px 17px;
  width: 300px;
}

.input-container {
  position: relative;
}

label {
  background: rgb(255, 255, 255) none repeat scroll 0% 0%;
  color: rgb(34, 73, 77);
  font-size: 12px;
  font-stretch: normal;
  font-style: normal;
  font-weight: 600;
  left: 9px;
  letter-spacing: 0.4px;
  line-height: normal;
  padding: 0px 3px;
  position: absolute;
  top: -0.5em;
}

input {
  background-color: rgb(255, 255, 255);
  border: 2px solid rgb(34, 73, 77);
  border-radius: 8px;
  box-sizing: border-box;
  display: block;
  font-size: 14px;
  margin-bottom: 21px;
  padding: 15px;
  width: 100%;
  outline-color: rgb(61, 121, 125);
}

button {
  background: rgb(61, 121, 125) none repeat scroll 0% 0%;
  border: 0px none;
  border-radius: 8px;
  box-sizing: border-box;
  color: rgb(255, 255, 255);
  cursor: pointer;
  display: block;
  font-family: Raleway, sans-serif;
  font-size: 17px;
  font-stretch: normal;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 0.5px;
  line-height: normal;
  margin-top: -4px;
  opacity: 1;
  padding: 17px 24px;
  text-align: center;
  text-decoration: none;
  width: 100%;
  outline: currentcolor none medium;
}
