body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.form, .logs, .custom {
  width: 400px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 2px 4px 0px;
  background-color: rgb(255, 255, 255);
  box-sizing: border-box;
  margin: 42px 20px;
  padding: 21px 17px 17px;
  border-radius: 12px;
}
.input-container {
  position: relative;
}

label {
  position: absolute;
  top: -0.5em;
  left: 9px;
  font-family: Raleway;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.4px;
  color: rgb(34, 73, 77);
  padding: 0px 3px;
  background: rgb(255, 255, 255);
}

input, select {
  font-family: Raleway;
  display: block;
  width: 100%;
  font-size: 14px;
  background-color: rgb(255, 255, 255);
  box-sizing: border-box;
  padding: 15px;
  border-radius: 8px;
  border: 2px solid rgb(34, 73, 77);
  outline: none;
  margin: 10px 0;
}

.history {
  overflow-y: scroll;
  height: 500px;
  display: flex;
  flex-direction: column;
}

#outgoing {
  text-align: center;
  background: lightblue;
  width: 54%;
  margin: 5% 0 0 40%;
  padding: 3%;
  border-radius: 8px;
}

#incoming {
  text-align: center;
  background: #eee;
  width: 54%;
  padding: 3%;
  border-radius: 8px;
  margin: 5% 40% 0 0;
}
